@using ModelValidation.Models
@model Appointment
@{
    ViewBag.Title = "Make a Booking";
}

<h2>Your appointment is confirmed</h2>


<p>Your name is: @Html.DisplayFor(m => m.ClientName)</p>
<p>Your appointment date is: @Html.DisplayFor(m => m.Date)</p>

 
